/* App.css */

/* Resetting default styles for HTML and body */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../src/assets/headphonesart.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  color: white; /* Setting default text color to white */
}

.container {
  width: 80%;
}

.error {
  color: red !important;
}

.worl {
  color: white;
}

/* Consolidate common styles for the 'beat' class */
.beat {
  color: white;
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  animation: fadeInAnimation ease 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/* Combine animation styles for f1 to f10 */
.f1,
.f2,
.f3,
.f4,
.f5,
.f6,
.f7,
.f8,
.f9,
.f10 {
  animation: fadeInAnimation ease-in-out 3s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Consolidate common styles for the 'globe' class */
.globe img {
  position: relative;
  display: inline;
  width: 50px;
  animation: fadeInAnimation ease-in-out 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/* Navigation styles */
label,
h2,
a {
  color: white;
  position: relative;
}

a {
  padding: 1rem;
  text-decoration: none; /* Removing default underline */
}

a:hover {
  color: blue;
}

/* Add styles for your 'section' and 'form' elements here */

/* Additional styling for your login form */
.login-form {
  z-index: 10;
  line-height: 30px;
}

.email-login {
  margin-left: 10px;
}

/* Success and error messages */
.success {
  color: green !important;
}

.messages {
  color: red;
  font-size: 10px;
}

/* Input and button styles */
input {
  border: none;
  height: 1.5rem;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.6);
}

button {
  border: none;
  background-color: black;
  color: white;
  border-radius: 10px;
  width: 6rem;
  height: 1.5rem;
  cursor: pointer;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.6);
  color: blue;
}

/* Add styles for other elements like 'img', 'text', 'pref', 'drop' as needed */

/* Keyframe animation */
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
