html {
  background-color: black;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../src/assets/images/headphonesart.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

/* login/signup */

.nav {
  display: none;
}

label,
h2,
a {
  color: white;
  position: relative;
}

a {
  color: white;
  padding: 1rem;
}

a:hover {
  color: blue;
}

section {
  border-radius: 10px;
  border: 10px;
  text-align: center;
  padding-top: 15rem;
  margin-left: 1.3rem;
}

.login-form {
  /* position: relative; */
  z-index: 10;
  line-height: 30px;
}

.email-login {
  margin-left: 10px;
}

.success {
  color: green !important;
}

.messages {
  color: red;
  font-size: 10px;
}

input {
  border: none;
  height: 1.5rem;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.6);
}

button {
  border: none;
  background-color: black;
  color: white;
  border-radius: 10px;
  width: 6rem;
  height: 1.5rem;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.6);
  color: blue;
  cursor: pointer;
}

img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
